<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

       <property name="LOGS" value="D:/logs" />

       <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
              <encoder>
                     <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
              </encoder>
       </appender>

       <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
              <file>${LOGS}/movieland.log</file>
              <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                     <!-- rollover daily -->
                     <fileNamePattern>${LOGS}/archived/movieland.%d{yyyy-MM-dd}.log.%i</fileNamePattern>
                     <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                            <maxFileSize>5MB</maxFileSize>
                     </timeBasedFileNamingAndTriggeringPolicy>
              </rollingPolicy>

              <encoder>
                     <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</Pattern>
              </encoder>
       </appender>

       <root level="DEBUG">
              <appender-ref ref="STDOUT" />
              <appender-ref ref="FILE" />
       </root>

</configuration>
